/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/core-sg/page/wcu.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.wcu_wcua__YBa5f{
    color: #4382ff;background-color: rgba(67, 130, 255, 0.13);
}

.wcu_wcub___WVuf{
    color: #f89035;background-color: rgba(248, 144, 53, 0.13);
}

.wcu_wcuc__3F8if{
    color: #b3d369;background-color: rgba(179, 211, 105, 0.13);
}

.wcu_wcud__myxeF{
    color: #554da7;
    background-color: rgba(85, 77, 167, 0.13);
}

.wcu_wcue__4DBMD{
    color: #f94fa4;
    background-color: rgba(249, 79, 164, 0.13);
}

