.wcua{
    color: #4382ff;background-color: rgba(67, 130, 255, 0.13);
}

.wcub{
    color: #f89035;background-color: rgba(248, 144, 53, 0.13);
}

.wcuc{
    color: #b3d369;background-color: rgba(179, 211, 105, 0.13);
}

.wcud{
    color: #554da7;
    background-color: rgba(85, 77, 167, 0.13);
}

.wcue{
    color: #f94fa4;
    background-color: rgba(249, 79, 164, 0.13);
}
